.login {
    width: 100%;
    max-width: 25rem;
    margin: 3.125rem auto;
    padding: 1.25rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

    &__title {
        text-align: center;
        margin-bottom: 1.25rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__form-group {
        margin-bottom: 0.9375rem;

        .login__label {
            display: block;
            margin-bottom: 0.3125rem;
        }

        .login__input {
            width: 100%;
            padding: 0.625rem;
            border: 0.0625rem solid #ccc;
            border-radius: 0.25rem;
            font-size: 1rem;
        }

        .login__error {
            color: red;
            font-size: 0.75rem;
        }
    }

    &__button {
        width: 100%;
        padding: 0.625rem;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 0.25rem;
        font-size: 1rem;
        cursor: pointer;

        &:disabled {
            background-color: #ccc;
        }

        &:hover:not(:disabled) {
            background-color: #45a049;
        }
    }
}