<div class="login">
    <h2 class="login__title">LOGIN</h2>
    <form class="login__form" (ngSubmit)="login()" #loginForm="ngForm">
        <div class="login__form-group">
            <label class="login__label" for="email">Email:</label>
            <input class="login__input" type="email" id="email" name="email" [(ngModel)]="email" required
                #emailInput="ngModel" placeholder="Enter your email" />
            <div class="login__error" *ngIf="emailInput.invalid && emailInput.touched">
                Please enter a valid email.
            </div>
        </div>

        <div class="login__form-group">
            <label class="login__label" for="password">Password:</label>
            <input class="login__input" type="password" id="password" name="password" [(ngModel)]="password" required
                #passwordInput="ngModel" placeholder="Enter your password" />
            <div class="login__error" *ngIf="passwordInput.invalid && passwordInput.touched">
                Please enter your password.
            </div>
        </div>

        <button class="login__button" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>